{% load static %}
<!DOCTYPE html>
<html>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hackedt - About Us</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/navstyle.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/products.css' %}"> -->
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
  <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>

<style>
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a class="navbar-brand" href="{% url 'home' %}">Hackedt</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="{% url 'aboutus' %}"> About Us </a></li>
          <li class="nav-item"><a class="nav-link" href="#!"> Contact </a></li>

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a style="pointer-events: none;
              cursor: default;" href="#" class="nav-link">Hello, {{request.user}}
            </a>
          </li>
          <li>
            <a class="auth_btn nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a class="auth_btn nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li>
            <a class="nav-link auth_btn" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
      </div>
      </ul>
    </div>

  </nav>

  <div class="bg-dark">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4" id="headingTitle">About us</h1>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-heavy">Who we are</h2>
          <p class="font-italic text-muted mb-4">Starting in 2021, our organization aims to bring student-created
            projects to our community. All of these projects are based on or are expansions of ideas that have come from previous hackathons. We want to
            give other students around the world an opportunity to publish and make their projects available to
            real-time customers. These projects have been created by passionate and hardworking students with a common
            goal of providing value. 
          </p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt=""
            class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center mb-5">
        <div class="col-lg-5 px-5 mx-auto"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt=""
            class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-heavy">Our Values</h2>
          <p class="font-italic text-muted mb-4"> Our core values revolve around authenticity, drive, care, respect, and
            integrity. If you have any questions please contact us. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-7 font-weight-light">Our team</h2>
          <p class="font-italic text-muted"></p>
        </div>
      </div>

      <div class="container row text-center">
        <!-- Team item-->
        <div class="row">
          <div class="col-lg">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'CultureProject.png' %}" width=200
                alt="" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Harshit Pottipati</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            </div>
          </div>
          <div class="col-lg">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'CultureProject.png' %}" width=200
                alt="" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Vikranth Nara</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            </div>
          </div>
        </div>


        <!-- End-->

        <!-- Team item-->

        <!-- End-->

      </div>
    </div>
  </div>


  <footer class="bg-light pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
    </div>
  </footer>
</body>

</html>

<!DOCTYPE html>
<html>